body {
    margin: 0px;
}

h1 {
    font-size: 2.1em;
}

.text-center {
    text-align: center;
}




.bgrimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    display: flex;
    justify-content: center;
}

.bgrcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bgrquiz {
    background-color: rgba(235, 235, 235, 0.44);
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border-style: groove;
    border-color: grey;
    position: relative;
    z-index: 0.1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questioncontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
    
    width: 38%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.questionfield {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    /* background-color: rgb(245, 241, 241); */
    background-color: red;

}

.answercontainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgba(224, 2, 2, 0.74); */

    border-radius: 10px;
    /* border-style: groove;
    border-color: black; */
    width: 66%;
    margin-top: 24px;
    margin-bottom: 24px;

}

.answerrow {
    display: flex;
}

.answerfield {
    width: 32.5vw;
    height: 22vh;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    margin-left: 16px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    font-size: 1.5em;

}

.answerfield:hover{
    background-color: rgb(240, 240, 240);

}