body {
    margin: 0px;
}

h1 {
    font-size: 2.1em;
}

a {
    color: white;
text-decoration: none;
}

.d-none {
    display: none!important;
}

.text-center {
    text-align: center;
}

.margin-botton {
    margin-bottom: 18px;
}

.width-button {
    width: 525px;
}

.bgrimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    display: flex;
    justify-content: center;
}

.bgrcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bgrquiz {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border-style: groove;
    border-color: grey;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.questioncontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
    
    width: 38%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.question-field {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: rgb(249, 71, 71);
}

.answercontainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgba(224, 2, 2, 0.74); */

    border-radius: 10px;
    /* border-style: groove;
    border-color: black; */
    width: 66%;
    margin-top: 24px;
    margin-bottom: 24px;

}

.answerrow {
    display: flex;
}

.answerfield {
    width: 28.5vw;
    height: 15vh;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    margin-left: 16px;
    background-color: white;
    border-style: solid;
    /* border-color: rgb(184, 61, 61); */
    border-radius: 10px;
    font-size: 1.5em;

}

.answerfield:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.green {
    background-color: rgb(9, 222, 9);
    border-color: white;
}
.green:hover {
    background-color: green;
   
    border-color: white;
}

.red {
    background-color: red;
    border-color: rgb(184, 61, 61);
}

.red:hover {
    background-color: rgb(241, 48, 48);
    border-color: white;
}

.green, .red {
    color: white;
}

.nextquestionbutton {  
    background-color: rgb(249, 71, 71);
    color: white;
    font-size: 1.3em;

    border-color: white;
    /* border-style: groove; */
    border-width: 5px;
    border-radius: 10px;
    height: 38px;
}

.nextquestionbutton:hover {
    background-color: rgb(143, 46, 46);
}

.question-footer {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.endscreen {
    height: 120px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.progress {
    width: 500px;
    background-color: rgb(249, 71, 71);;
    height: 21px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;

}

.progress-bar {
    background-color:  rgb(143, 46, 46);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 21px;
    text-align: center;
    color: white;
}

.progressbarborderstyleleft {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

